@import url("/stylesheets/skip_embedded/sprites.css");
div#gadget_wrapper{border:1px solid #E0E0FF;font-size:14px;}
div#gadget_wrapper h2{background-color:#F5F5F5;font-size:15px;padding:2px 2px;margin:0;color:#444444;}
.ui-corner-all {-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;}
span.small_text {font-size:10px;}
div.border_bottom {font-size:14px; margin:5px; border-bottom:1px dotted #CCCCCC;}
div {font-size:14px; margin:3px; color:#444444}
td.entry_outline a.entry{font-size:14px;}
td.entry_outline span.infos {color:#808080; font-size:8px; vertical-align:bottom;}
td.entry_outline span.tags {font-size:10px;}
td.entry_outline span.tags a.tag{color:#8080FF;}
td.date{font-size:10px;}
a {color:#0080DD; text-decoration:none;}
