<div class="header">
  <h1><%= _('index') %></h1>
</div>
<div class="index">
    <% root_stock_entry = nil -%>
    <% stock_entries.each do |stock_entry| -%>
      <% if stock_entry.parent_id.blank? -%>
        <% root_stock_entry = stock_entry -%>
        <div class="contents"><%= root_stock_entry.contents %></div>
      <% end -%>
    <% end -%>
    <ul>
      <li><%= link_to_stock_entry root_stock_entry, current_user %></li>
      <ul><%= render :partial => 'group/stock_entries', :locals => { :stock_entries => BoardEntry.children(root_stock_entry).aim_type('stock_entry') } %></ul>
    </ul>
</div>
