<% links.each do |link| -%>
  <div class="margin10">
    <%= link_to(icon_tag('link') + link[:title], link[:url]) %>
    <% if link[:comment] -%>
      <div style="font-size:10px;margin: 0 0 10px 0;"><%= link[:comment] %></div>
    <% end -%>
  </div>
<% end -%>

