<div style="font-weight:bold;">店舗matic</div>
<table width="100%">
  <col width="80%">
  <col width="20%">
  <tbody>
    <% @entries.each do |entry| -%>
      <tr>
        <td>
          <div class="padding_left15"><%= entry[:status] %> <%= link_to(entry[:title], entry[:title_url]) %></div>
        </td>
        <td align="right">
          <span class="small_text"><%= entry[:from] %></span>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
