<style>
  div#gadget_wrapper {border: 1px solid #FFB219;}
  div#gadget_wrapper h2{background-color:#FFD819;font-size:15px;padding:2px 2px;margin:0;}
  div.notice_title {font-weight:bold;margin:5px;background-color:#FFFFF0;}
  div.contents_title {margin:3px 0 3px 15px;}
  td {margin:0px;padding:0px;}
</style>
<div id="gadget_wrapper" class="ui-corner-all">
  <h2 class="ui-corner-top"><%= icon_tag("new") + "新着情報" %></h2>
  <%= render :partial => 'gapps_mails' %>
  <%= render :partial => 'skip_antennas', :locals => {:entries => @antennas} %>
  <%= render :partial => 'tenpo_notices' %>
</div>
<br/>
