<div id="gadget_wrapper">
  <h2>新着ユーザ</h2>

  <% @recent_users.each do |user| -%>
    <div class="border_bottom">
      <%= show_picture(user, :width => 18, :height => 18) %>
      <%= link_to(user.name, tenant_user_url(current_tenant, user)) %>&nbsp;<span class="small_text">(<%= h(user.section) %>)
    </div>
  <% end -%>
</div>
