<div id="gadget_wrapper" class="ui-corner-all">
  <h2 class="ui-corner-top"><%= icon_tag('group') %><%= link_to("参加グループ一覧", polymorphic_url([current_tenant, current_target_user, :groups])) %> - SKIP</h2>
  <% @groups.each do |group| -%>
    <div style="margin: 3px 10px;"><%= group_link_to(group, :view_text => truncate(h(group.name), :length => 40), :title => group.name) %></div>
  <% end -%>
</div>
