<div id="gadget_wrapper">
  <h2>店舗matic (新着情報)</h2>
  <% @entries.each do |entry| -%>
    <div><%= entry[:status] %><%= link_to(entry[:title], entry[:title_url]) %> <span class="small_text">(<%= link_to(entry[:from], entry[:from_url]) %>)</span></div>
  <% end -%>
</div>
